<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ClassRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bff5b7">  <td>24/03/04 17:27:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_register_succesful.executor()[pri:0, instance:TestCase.post_register_succesful@76494737]">executor</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/03/04 17:27:59</td>   <td>8829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_single_user.executor()[pri:0, instance:TestCase.Get_single_user@1972e513]">executor</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/03/04 17:27:56</td>   <td>6180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_update.executor()[pri:0, instance:TestCase.Patch_update@73eb439a]">executor</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/03/04 17:27:57</td>   <td>7542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_API.executor()[pri:0, instance:TestCase.Delete_API@305ffe9e]">executor</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/03/04 17:27:58</td>   <td>7930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create.executor()[pri:0, instance:TestCase.Post_create@302c971f]">executor</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="b6cdac">  <td>24/03/04 17:27:55</td>   <td>5381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_update.executor()[pri:0, instance:TestCase.Put_update@19932c16]">executor</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="cfb4e1">  <td>24/03/04 17:27:57</td>   <td>6853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_user_list.executor()[pri:0, instance:TestCase.Get_user_list@514646ef]">executor</td> 
  <td>main@1159190947</td>   <td></td> </tr>
</table>
