<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParallelRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bff5b7">  <td>24/03/04 17:32:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_register_succesful.executor()[pri:0, instance:TestCase.post_register_succesful@7188af83]">executor</td> 
  <td>TestNG-tests-1@993370665</td>   <td></td> </tr>
<tr bgcolor="8889c7">  <td>24/03/04 17:32:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_update.executor()[pri:0, instance:TestCase.Patch_update@3feb2dda]">executor</td> 
  <td>TestNG-tests-2@504807594</td>   <td></td> </tr>
<tr bgcolor="9daa8c">  <td>24/03/04 17:32:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_user_list.executor()[pri:0, instance:TestCase.Get_user_list@55de24cc]">executor</td> 
  <td>TestNG-tests-3@90567568</td>   <td></td> </tr>
<tr bgcolor="996ed7">  <td>24/03/04 17:32:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_API.executor()[pri:0, instance:TestCase.Delete_API@c05fddc]">executor</td> 
  <td>TestNG-tests-4@795321555</td>   <td></td> </tr>
<tr bgcolor="6378a4">  <td>24/03/04 17:32:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create.executor()[pri:0, instance:TestCase.Post_create@60f00693]">executor</td> 
  <td>TestNG-tests-5@800088638</td>   <td></td> </tr>
<tr bgcolor="aba685">  <td>24/03/04 17:32:57</td>   <td>3796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_single_user.executor()[pri:0, instance:TestCase.Get_single_user@97e93f1]">executor</td> 
  <td>TestNG-tests-4@795321555</td>   <td></td> </tr>
</table>
