<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAnnotationExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4a37a">  <td>24/03/08 13:17:48</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_RestAsssured_Example.evidenceCreator()[pri:0, instance:TestCase.TestNG_Annotation_RestAsssured_Example@4c163e3]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>24/03/08 13:17:50</td>   <td>1581</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_SameClass_RestAssured.evidenceCreator()[pri:0, instance:TestCase.TestNG_DataProvider_SameClass_RestAssured@333d4a8c]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="748ed4">  <td>24/03/08 13:17:50</td>   <td>1578</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured.evidenceCreator()[pri:0, instance:TestCase.TestNG_DataProvider_DifferentClass_RestAssured@55de24cc]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/03/08 13:17:41</td>   <td>-7329</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_RestAsssured_Example.testSetUp()[pri:0, instance:TestCase.TestNG_Annotation_RestAsssured_Example@4c163e3]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>24/03/08 13:17:48</td>   <td>54</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_SameClass_RestAssured.testSetUp()[pri:0, instance:TestCase.TestNG_DataProvider_SameClass_RestAssured@333d4a8c]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="748ed4">  <td>24/03/08 13:17:48</td>   <td>51</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured.testSetUp()[pri:0, instance:TestCase.TestNG_DataProvider_DifferentClass_RestAssured@55de24cc]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="a4a37a">  <td>24/03/08 13:17:43</td>   <td>-4803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_RestAsssured_Example.validator()[pri:0, instance:TestCase.TestNG_Annotation_RestAsssured_Example@4c163e3]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>24/03/08 13:17:48</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestCase.TestNG_DataProvider_SameClass_RestAssured@333d4a8c]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="748ed4">  <td>24/03/08 13:17:49</td>   <td>747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestCase.TestNG_DataProvider_DifferentClass_RestAssured@55de24cc]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
</table>
